#light .arcade {

    &__intro {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/arcade-light.svg');
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-left: 15vw;
        position: relative;
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__p {
        width: 55ch;
        @include p-text;
    }

    &__title {
        @include p-text-darkmode;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__play-btn {
        @include solid-btn;
        width: 8rem;
    }

    &__img {
        width: 12rem;
    }

    &__top-right-star-div {
        display: none;
    }

    &__top-right-star-div-yellow {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 0%;
        left: 60%;
        transform: translate(0%, -10%);
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }

    &__container {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 2rem;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 15vh;
    }

    &__card {
        width: 25rem;
        height: 25rem;
        @include center;
        border: 12px solid white;
        box-shadow: 5px 5px 10px $text-colour;
        margin: 1rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
    }

    &__hover-info {
        width: 100%;
        height: 100%;
        @include center;
        flex-direction: column;
        background-color: #000000bf;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    &__hover-info:hover {
        animation: info-text-hover .5s;
    }

    @keyframes info-text-hover {
        0% { background-color: transparent }
        100% { background-color: #000000bf }
    }

    &__card-b-g {
        background: #8EDBE6;
        background: -webkit-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: -moz-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
    }

    &__card-p-b {
        background: #C191FF;
        background: -webkit-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: -moz-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
    }

    &__card-o-p {
        background: #FFD874;
        background: -webkit-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: -moz-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
    }

    &__big-emoji {
        font-size: 10rem;
    }
}

#dark .arcade {

    &__intro {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/arcade-dark.svg');
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-left: 15vw;
        position: relative;
    }

    &__heading {
        @include heading-darkmode;
        margin-bottom: 2rem;
    }

    &__p {
        width: 55ch;
        @include p-text-darkmode;
    }

    &__title {
        @include p-text-darkmode;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__play-btn {
        @include solid-btn;
        width: 8rem;
    }

    &__img {
        width: 12rem;
    }

    &__top-right-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 0%;
        left: 60%;
        transform: translate(0%, -10%);
    }

    &__top-right-star-div-yellow {
        display: none;
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }

    &__container {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 2rem;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 15vh;
    }

    &__card {
        width: 25rem;
        height: 25rem;
        @include center;
        border: 12px solid $dark-background-lighter;
        box-shadow: 5px 5px 10px rgb(29, 29, 29);
        margin: 1rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
    }

    &__hover-info {
        width: 100%;
        height: 100%;
        @include center;
        flex-direction: column;
        background-color: #000000bf;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    &__hover-info:hover {
        animation: info-text-hover .5s;
    }

    @keyframes info-text-hover {
        0% { background-color: transparent }
        100% { background-color: #000000bf }
    }

    &__card-b-g {
        background: #8EDBE6;
        background: -webkit-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: -moz-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
    }

    &__card-p-b {
        background: #C191FF;
        background: -webkit-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: -moz-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
    }

    &__card-o-p {
        background: #FFD874;
        background: -webkit-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: -moz-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
    }

    &__big-emoji {
        font-size: 10rem;
    }
}

@media only screen and (max-width: 600px) {
    #light .arcade {
        &__intro {
            padding-left: 10vw;
            padding-right: 10vw;
            background-image: none;
        }

        &__p {
            width: 100%;
        }

        &__top-right-star-div-yellow {
            width: 55vw;
            left: 45%;
        }

        &__top-right-star-div {
            width: 55vw;
            left: 45%;
        }

        &__container {
            justify-content: center;
        }

        &__card {
            justify-content: center;
            margin: 0px;
            margin-bottom: 5rem;
        }
    }

    #dark .arcade {
        &__intro {
            padding-left: 10vw;
            padding-right: 10vw;
            background-image: none;
        }

        &__p {
            width: 100%;
        }
        
        &__top-right-star-div {
            width: 55vw;
            left: 45%;
        }

        &__container {
            justify-content: center;
        }

        &__card {
            justify-content: center;
            margin: 0px;
            margin-bottom: 5rem;
        }
    }
}