#light .contact {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 93%;
    bottom: 5%;
    border-radius: 360px;
    background-color: white;
    box-shadow: 2px 5px 10px $text-colour;

    &__img {
        width: 3rem;
        height: 3rem;
    }

    &__darkmode {
        display: none;
    }
}

#dark .contact {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 93%;
    bottom: 5%;
    border-radius: 360px;
    background-color: $dark-background;
    box-shadow: 2px 5px 10px rgb(18, 18, 18);

    &__img {
        width: 3rem;
        height: 3rem;
    }

    &__lightmode {
        display: none;
    }
}

#light .contact-modal {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    z-index: 101;
    padding: 10rem;

    &__heading {
        @include heading;
    }

    &__p {
        @include p-text;
    }

    &__btn {
        @include solid-btn;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &__info-div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__icon {
        margin-right: 2rem;
    }

    &__darkmode {
        display: none;
    }

    &__link {
        cursor: pointer;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

#dark .contact-modal {
    background: $dark-background;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    z-index: 101;
    padding: 10rem;

    &__heading {
        @include heading-darkmode;
    }

    &__p {
        @include p-text-darkmode;
    }

    &__btn {
        @include solid-btn;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &__info-div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__icon {
        margin-right: 2rem;
    }

    &__lightmode {
        display: none;
    }

    &__link {
        cursor: pointer;
    }

    &__link:hover {
        text-decoration: underline;
    }
}